body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #942323;
}

th, td {
    padding: 15px;
    text-align: center;
}

th {
    background-color: #b02e2e;
}

img {
    width: 100px;
    height: auto;
}
